.homepage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  height:auto;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0.966);
  box-sizing:border-box;
  
}

.Name{
  width:100%;
  display:flex;
  flex-direction: column;
  height:150px;
  align-items:center;
  justify-content: center;
}
.Name >h1 {
  background-image:linear-gradient(45deg ,#351f4e,#070e1e, #473a84);
  -webkit-background-clip: text;
  opacity:0.5;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent; 
  font-size: 2.3em;
  font-family: Roboto;
}
.Name >h4{
  background-image:linear-gradient(45deg ,#d3cfd6,#4b639c, #060217);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent; 
  font-size: 1em;
  font-weight:400
}
.nav{
  display: flex;
  position: sticky;
  justify-content:space-between;
  align-items: center;
  width: 100vw;
  height: 40px;
  background-color: white;
  padding: 25px;
  z-index:2;
  box-sizing: border-box;
  box-shadow: 3px 1.7px rgba(225,225,225,0.5);
}
.button{
  padding: 3px 16px;
  outline-width: 0;
  border: 1.5px solid red;
  background: transparent;
  color: rgb(1, 1, 26);
  font-size: 1em;
  border-radius: 20px;
  font-weight:400;
  font-family: 'Playfair Display', serif;
}
.button:hover{
  
  color: white;
  border: none
}





.main{
  display: flex;
  height: auto;  
  min-height: 350px;
  width:100vw;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content:center;
  background-color: transparent;
  margin-top: 10px;
  overflow-x: hidden;
  background-color:white;
  z-index: 2;
}
.brief{
    background-color:rgba(225,225,255,0.3);
    backdrop-filter:blur(30px);
    width: 330px;
    max-width:450px;
    min-width:300px;
    min-height:300px;
    height: auto;
    margin: 1.3%;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    transition: transform .2s;
}
.brief:hover{
  transform: scale(1.04);
}



.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  position: relative;
  padding-right: 20px;
  height: 150px;
  background:rgb(1, 0, 10);
  width: 100vw;
  border-bottom: none;
  border-left: none;
  border-right: none;
  
  
}
.footerContent1{
  width: 100%;
  margin-bottom:25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footerfoot{
  height: 40px;
  display:flex;
  align-items: center;
  justify-content:center;
  position: absolute;
  bottom:0;
  box-sizing: border-box;
  width: 100%;
  background-color:rgba(1, 0, 12, 0.801);
}



.emailDiv{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputEmail {
  width: 15em;
  box-sizing: border-box;
  height: 3em;
  border: none;
  background-color:white;
  border-radius: 0;
  
}
.emailBtn{
  width: 8em;
  height: 3em;
  box-sizing: border-box;
  background:black;
  color: white;
  border-radius: 0;
  border: none;
}



.img{
  margin-top: 2px;
  width: 60px;
  height: 60px;
}

.iconsDiv{
  display: flex;
  align-items: center;
  flex-direction:column;
  width: 100%;
  bottom: 90%;
  margin:0% auto;
  height: auto;
  max-height: 100%;
  padding: 5px;
  box-sizing: border-box;
  background-color:transparent;
  
}

.partner{
  display: flex;
  flex-direction: column;
  align-items: center;
  float: right;
}
.partner > span{
  color:white;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size:0.8rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:5px;
  
  

  
}


.partner > a{
  color:rgb(231, 227, 173);
  font-weight: 500;
  padding-bottom: 20px;
  font-size:0.8em;
}

  


.icons{
  display: flex;
  align-items: text-center;
  box-sizing: border-box;
  height: auto;
  width: 40%;
  background-color: transparent;
}

.mainIconDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex: 0.25;

}

.icondetails{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Quicksand', sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  background: white;
  flex:0.75;
  
}
.icondetails >p {
  margin-top: 10px;
}
.buttonIcon{
  border:none;
  outline-width: 0;
  background-color:transparent;
  display: flex;
  align-items:center;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
  border-radius: 3px;
}
.buttonIcon:hover{
  background-color:black;
  color: white;
}
@media (max-width:1000px)  {
  .button{
    padding: 2px 12px;
  }
  .nav{
    padding-right: 15px;
    padding-left: 0px;
    z-index: 2;
  }
  .picture{
    height: auto;
    width: 90%;
    z-index: 1;
  }
}
@media (max-width:600px){
  .footer{
    padding-right: 5px;
  }
  .nav >h2{
    font-size: 1em;
  }
  .iconsDiv{
    width: 100%;
  }
  .img{
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-top:2px;
  }
  .nav{
    padding-right: 15px;
    padding-left: 0px;
    z-index: 2;
  }
  .Name >h1 {
    background-image:linear-gradient(45deg ,#351f4e,#070e1e, #473a84);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent; 
    font-size: 1.5em;
  }
 
}