
.upperNav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height:auto;
    margin-top: 50px;
    
}
.upperNav >h2{
    background-image:linear-gradient(45deg ,#090a19,#020d19, #060217);
  -webkit-background-clip: text;
  opacity: 0.8;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent; 
  font-size: 2em;
  font-weight:bolder;
}
.buttons {
    width:50%;
    height:50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}
.button {
    padding: 10px 20px;
    color:rgb(13, 13, 45);
    border:none;
    cursor:pointer;
    background-color:#f0edf1b0;
    font-size:0.8em;
}

.titles{
    width:60%;
    height: auto;
    background-color: transparent;
    padding:30px 20px;
    margin-top:50px;
    box-sizing:border-box;
}
.titles >div{
    background-color:transparent;
    width:100%;
    height: 70px;
    padding:10px 20px;
}
.titles> div >span{
    color:#847da6c3;
    padding-right: 50px;
}
.titles>div>h3{
    color:rgb(5, 0, 23);
    font-weight:540;
    opacity:0.9;
    cursor: pointer;
}
.titles>div>h3:hover{
    color:rgb(5, 1, 54);
    font-weight:500;
    opacity:1;
    cursor: pointer;
}



@media (max-width:1000px) {
    .upperNav >h2{
      font-size: 1.5em;
      font-weight:700
    }
    

    .titles> div >span{
        color:#847da6c3;
        padding-right: 20px;
    }
    .titles >div{
        background-color:transparent;
        width:100%;
        height: 90px;
        padding:10px 20px;
    }
    .titles>div>h3{
        color:rgb(5, 0, 23);
        font-weight:540;
        opacity:0.9;
        font-size: 1.5em;
        cursor: pointer;
    }
    .buttons {
        width:100%;
        height:50px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top:50px;
    }
    .button {
        padding: 5px 10px;
        color:rgb(13, 13, 45);
        border:none;
        cursor:pointer;
        background-color:#f0edf1b0;
        
    }

    .titles{
        width:100%;
        height: auto;
        background-color: transparent;
        padding:10px 20px;
        margin-top:50px;
    }
}

@media (max-width:600px) {
    .upperNav >h2{
        font-size: 1.3em;
        font-weight:700
      }
      
      .titles>div>h3{
        color:rgb(7, 0, 31);
        font-weight:540;
        opacity:0.9;
        font-size: 1.1em;
        cursor: pointer;
    }

      .buttons {
        width:100%;
        height:50px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top:50px;
    }
    .button {
        padding: 5px 10px;
        color:rgb(13, 13, 45);
        border:none;
        cursor:pointer;
        background-color:#f0edf1b0;
        
    }
    .titles{
        width:100%;
        height: auto;
        background-color: transparent;
        padding:10px 0px;
        margin-top:50px;
    }
    
}